deb http://10.0.0.20:9999/debian/ buster main contrib non-free
deb-src http://10.0.0.20:9999/debian/ buster main contrib non-free

deb http://10.0.0.20:9999/debian-security/ buster/updates main contrib non-free
deb-src http://10.0.0.20:9999/debian-security/ buster/updates main contrib non-free

deb http://10.0.0.20:9999/debian/ buster-updates main contrib non-free
deb-src http://10.0.0.20:9999/debian/ buster-updates main contrib non-free

deb http://10.0.0.20:9999/debian/ bullseye main
deb-src http://10.0.0.20:9999/debian/ bullseye main